# Laravel
/vendor
/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/storage/pail
/storage/logs
/storage/framework
/storage/app/public
/bootstrap/cache
.phpunit.result.cache
.phpunit.cache
.env
.env.backup
.env.production
.phpactor.json
Homestead.json
Homestead.yaml
npm-debug.log
Thumbs.db
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.zed
/database/*.sqlite
